@page "/Form"

<!-- Credit card form -->
<section>
    
  <div class="flex row">
      
    <div class="col d-flex justify-content-center">
      <div class="card m-10">
        <div class="card-body push-up mb-3">
            @*<Card CardProviderImg="@_cardProviderImg" CardName="@_cardName" CardNumber="@_cardNumber" CVV="@_cVV" ExpireMonth="@_cxpireMonth" ExpireYear="@_cxpireYear"/>*@


          
            <EditForm @Model="@CreditCard" OnValidSubmit="HandleValidSubmit"> 

            <!-- Card Number-->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Card Number</label>
              <input @bind="@_cardNumber" @bind:event="oninput" type="text" maxlength = "16"  id="form6Example3" class="form-control" />
              <InputText @bind-Value="@CreditCard.Number" @bind:event="oninput" maxlength = "16"  id="form6Example3" class="form-control" />
            
          </div>

            <!-- Card Name -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example4">Card Name</label>
              <InputText @bind-Value="@CreditCard.Name"  @bind:event="oninput" maxlength = "30" id="form6Example4" class="form-control" />
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="formNameOnCard">Expiration Date</label>
                  <InputSelect  class="form-control" @bind-Value="@CreditCard.ExpireMonth" @bind:event="oninput">
                        @if (@_months != null)
                        {
                            @for (int i = 1; i < @_months.Count(); i++)
                            {
                                <option value="@_months[i]">@_months[i]</option>
                            }
                        }
                    </InputSelect>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="ExpirationDate">.</label>
                  <InputSelect class="form-control" placeholder="" @bind-Value="@CreditCard.ExpireYear" @bind:event="oninput">
                        @if (@_years != null)
                        {
                            @for (int i = 0; i < @_years.Count(); i++)
                            {
                                <option value="@_years[i]">@_years[i]</option>
                            }
                        }
                   </InputSelect>
                </div>
              </div>

               <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="formCVV" >CVV</label>
                  <InputNumber @bind-Value="@CreditCard.CVV" @bind:event="oninput" maxlength = "4"  type="number" id="formCardNumber" class="form-control" />
                </div>
              </div>
            </div>
            

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Submit
            </button>
          </EditForm>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Credit card form -->


@code {

    private List<string> _months { get; set; } = new List<string>{"01","02","03","04","05","06","07","08","09","10","11","12"};
    private List<int> _years { get; set; } = Enumerable.Range(DateTime.Now.Year, 10).ToList();




    private string _cardName = "";
    private string _cardNumber = "";
    private string _cVV = "";
    private string _cxpireMonth = "";
    private string _cxpireYear = "";

    private string _cardProviderImg = "";

    
}

@functions  
{


}
